---
export interface Props {
  title: string;
  selected: boolean;
}

const { title, selected } = Astro.props;
---

<div transition:name={`tag:${title}`}>
  {
    selected ? (
      <a
        href={`/blog/tag/${title}`}
        class="text-white hover:text-primary-500 dark:hover:text-primary-500"
      >
        <div class="bg-primary-500 hover:bg-white dark:hover:bg-white mr-2 mb-1 pt-1 pb-1 pl-3 pr-3 rounded-xl">
          {title}
        </div>
      </a>
    ) : (
      <a href={`/blog/tag/${title}`} class="text-white dark:text-black">
        <div class="bg-black dark:bg-white hover:bg-primary-500 dark:hover:bg-primary-500 mr-2 mb-1 pt-1 pb-1 pl-3 pr-3 rounded-xl">
          {title}
        </div>
      </a>
    )
  }
</div>
